.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: white;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  gap: 8px;
}

.logo-icon {
  font-size: 26px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.active {
  color: #1e90ff;
  font-weight: bold;
  border-bottom: 2px solid #1e90ff;
  padding-bottom: 4px;
}